.ship-item {
    border-bottom: 1px solid black;
    padding-bottom: 29px;
    margin-top: 40px;

    .title {
        display: flex;
        align-items: center;
        margin-bottom: 29px;

        h2 {
            margin-right: 23px;
            font-size: 20px;
            font-weight: 500;
        }

        svg {
            cursor: pointer;
        }
    }

    .additional-info {
        display: grid;
        grid-template-columns: 30% 30% 1fr;

        div {
            display: flex;

            .info-name {
                margin-right: 104px;
            }

            .blue {
                display: block;
            }
        }
    }
}