<div class="ship-page">
    <div class="ship-list">
        <div *ngIf="isLoading" [ngStyle]="{
            'width': '100%',
            'height':'100%',
                'display':'flex',
                'justify-content': 'center',
                'align-items': 'center'
            }">
            <app-loader></app-loader>
        </div>
        <div *ngIf="!isLoading" class="main-data">
            <span class="title">SpaceX Ships</span>
            <div class="empty-list" *ngIf="!shipsOnPage.length">
                <h3>Нет кораблей</h3>
            </div>
            <div *ngFor="let ship of shipsOnPage">
                <app-ship-item [ship]="ship"></app-ship-item>
            </div>
            <div class="pagination">
                <div class="pagination-down" (click)="decrementPage()">
                    <svg [ngStyle]="{
                                        'fill': colorForFirstPage()
                                    }" width="8" height="12" viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.41 1.41L6 0L0 6L6 12L7.41 10.59L2.83 6L7.41 1.41Z" />
                    </svg>
                </div>
                <span class="page-number">{{page}}</span>
                <div class="pagination-up" (click)="incrementPage()">
                    <svg [ngStyle]="{
                                        'fill': colorForLastPage()
                                    }" width="8" height="12" viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.41 1.41L6 0L0 6L6 12L7.41 10.59L2.83 6L7.41 1.41Z" />
                    </svg>
                </div>

            </div>
        </div>
    </div>
    <div class="filters">
        <h2>Фильтры</h2>
        <input class="search-name" type="text" [value]="nameInput" (keyup)="onInputChange($event)"
            placeholder="Название">

        <div class="multiselect">
            <div class="selectBox" (click)="showCheckboxes()">
                <span>Порт</span>
                <select [ngStyle]="{'border-bottom': expanded ? '1px solid #347CFF' : '1px solid rgba(0, 0, 0, 0.3)' }">
                    <option>Выбраны {{ports.length}}</option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div id="checkboxes" [ngStyle]="{'display': expanded ? 'flex' : 'none' }">
                <label for="one">
                    <input type="checkbox" id="one" (click)="onCheckBoxClick($event)" value="Port Canaveral"
                        [checked]="ports.includes('Port Canaveral')" />Port
                    Canaveral</label>
                <label for="two">
                    <input type="checkbox" id="two" (click)="onCheckBoxClick($event)" value="Port of Los Angeles"
                        [checked]="ports.includes('Port of Los Angeles')" />Port
                    of Los Angeles</label>
                <label for="three">
                    <input type="checkbox" id="three" (click)="onCheckBoxClick($event)" value="Fort Lauderdale"
                        [checked]="ports.includes('Fort Lauderdale')" />Fort
                    Lauderdale</label>
            </div>
        </div>

        <div class="search-type">
            <span>Тип </span>
            <label>
                <input type="radio" value="Barge" (click)="onRadioClick($event)" name="type" id="1"
                    [checked]="type === 'Barge'">Barge
            </label>
            <label>
                <input type="radio" value="Cargo" (click)="onRadioClick($event)" name="type" id="2"
                    [checked]="type === 'Cargo'">Cargo
            </label>
            <label>
                <input type="radio" value="High Speed Craft" (click)="onRadioClick($event)" name="type" id="3"
                    [checked]="type === 'High Speed Craft'">High Speed Craft
            </label>
            <label>
                <input type="radio" value="Tug" (click)="onRadioClick($event)" name="type" id="4"
                    [checked]="type === 'Tug'">Tug
            </label>
        </div>
    </div>
</div>